
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 mx-auto my-5 text-center p-5">
            <p class="display-1 fw-bold">ERROR 404 NOT FOUND</p>
        </div>
    </div>
</div>