@model MemberLoginViewModel

<form asp-action="login" method="post">
    <div class="login-form">
        <h4 class="login-title">Returning Customer</h4>
        <p><span class="font-weight-bold">I am a returning customer</span></p>
        <div class="row">
            <div class="col-lg-12 mb--20">
                <label asp-for="LoginUsername">Enter Username</label>
                <input class="mb-0 form-control" asp-for="LoginUsername" placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="LoginUsername"></span>
            </div>
            <div class="col-lg-12 mb--20">
                <label asp-for="LoginPassword">Enter Password</label>
                <input class="mb-0 form-control" asp-for="LoginPassword" placeholder="Enter your password">
                <span class="text-danger" asp-validation-for="LoginPassword"></span>
                <a class="text-decoration-none" asp-action="forgot">Forgot password</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
</form>
