@model List<Genre>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <a asp-action="create" class="btn btn-info my-3">Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Book Count</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genre in Model)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>@genre.Name</td>
                            <td>@genre.Books.Count()</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@genre.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="delete" asp-route-id="@genre.Id" class="btn btn-danger sweet-delete">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

